<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- Botón de retroceso -->
      <ion-buttons slot="start">
        <ion-back-button default-href="/home"></ion-back-button>
      </ion-buttons>
      <ion-title size="large">comida-china</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Comidas Chinas</ion-card-title>
      <ion-card-subtitle>Precios en Chile</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let producto of comidas | async">
          <ion-thumbnail slot="end" class="thumbnail-large">
            <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
            <ion-button fill="clear" class="add-button" shape="round" size="small" (click)="agregarProducto(producto)">+</ion-button>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ producto.nombre }}</h2>
            <ion-card-subtitle>${{ producto.valor }} CLP</ion-card-subtitle>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Botón para pagar carrito -->
  <ion-button *ngIf="tieneProductosEnCarrito" id="pay-button" expand="block" [routerLink]="['/carrito']">
    Pagar Carrito
  </ion-button>
</ion-content>
