<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="goToMainPage()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="titulo">Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pedido</ion-title>
    </ion-toolbar>
  </ion-header>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />

  <!-- Formulario para ingresar direcciones -->
  <ion-item style="display:none">
    <ion-label position="floating">Dirección de origen</ion-label>
    <ion-input [(ngModel)]="direccionOrigen"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Dirección</ion-label>
    <ion-select  placeholder="Seleccione una dirección" [(ngModel)]="direccionSeleccionada" (ionChange)="onDireccionSeleccionada()">
      <ion-select-option *ngFor="let direccion of direcciones" [value]="direccion.label">
        {{ direccion.label }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Contenedor para el mapa -->
  <div id="mapId" style="height: 400px; margin-top:100px; width:100%;"></div>

</ion-content>
